:root {
  --maz-border-width: 1px;
}

/* a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} */

a.disabled,
button:disabled {
  cursor: not-allowed;
  pointer-events: none !important;
}

.invalid-feedback {
  display: block;
}
