@import "toasts.css";

:root {
  --maz-border-width: 1px;
  --maz-color-danger: #dc3545;
  --maz-color-success: #198754;
}

body {
  position: relative;
  min-height: calc(100svh);
  padding-bottom: 60px;
}

button:disabled {
  cursor: not-allowed !important;
}

.invalid-feedback {
  display: block;
}
